.game-over {
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-family: 'Rye', 'cursive';
  font-size: 20px;
  margin: 10px;
  padding: 10px 25px;
  text-shadow: .5px .5px .5px black;
}

.game-over-win {
  background-color: rgba(0, 255, 0, .5);
}

.game-over-loss {
  background-color: rgba(255, 0, 0, .5);
}

.new-game-button {
  
}